   * {
    box-sizing: boarder-box;
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;

   }
   
   .navbar {
    background: #60a286;
    height: 80px;
    display:  flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2 rem;
    position: sticky;
    top: 0;
    z-index: 999;
   }
   
   .navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
   }
   
   #navbar__logo{
    background-color: #60a286;
    background-image: linear-gradient(to top, #461091 0%, rgba(33, 68, 37, 0.067) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transperent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size:  3rem;
   
   }
   
   .fa-gem{
       margin-right: 0.5rem;
   
   }
   .navbar__menu{
    display: flex;
    align-items:  center;
    list-style: center;
    text-align: center;
   
   }
   
   .navbar__item {
    height: 80px;
   }
   
   .navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
   }

   .navbar__btn {
    display: flex;
    justify-content:  center; 
    align-items: center;
    padding:  0 1rem;
    width: 100%;
   }
   
   .button{
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    border: none;
    outline: none;
    border-radius:  4px;
    background: #f77062;
    color: #fff;
   
   }
   
   
   .navbar__links:hover {
    color:#461091;
    transition:  all 0.3s ease;
   }
   
   @media screen and (max-width: 960px) {
       .navbar__container{
           display: flex;
           justify-content: space-between;
           height: 80xp;
           z-index: 1;
           width: 100%;
           max-width: 1300px;
           padding: 0%;
       }
       .navbar__menu {
           display: grid;
           grid-template-columns: auto;
           margin: 0;
           width: 100%;
           position: absolute;
           top: -1000px;
           opacity: 0;
           transition: all 0.5s ease;
           height: 50vh;
           z-index: -1;
       }
   
       .navbar__menu.active{
        background: #000000;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 75vh;
        font-size: 1.6rem;
       }
       #navbar__logo {
           padding-left: 25px;
       }
       .navbar__toggle .bar{
           width: 25px;
           height: 3px;
           margin: 5px auto;
           transition: all 0.3s ease-in-out;
           background: #fff;
       }
      
       .navbar__links{
           text-align: center;
           padding: 2rem;
           width: 100%;
           display: table;        
       }
       #mobile-menu{
           position: absolute;
           top: 20%;
           right: 5%;
           transform: translate(5%, 20%);
       }
       
       .navbar__toggle .bar{
           display: block;
           cursor: pointer;
       }
       #mobile.navbar__menu.is-active .bar:nth-child(2){
           opacity: 0;
       }
        #mobile.navbar__menu.is-active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
       }
       #mobile.navbar__menu.is-active .bar:nth-child(3){
           transform: translateY(-8px) rotate(-45deg);
           }
   }
   /*This whole section add the navigation bar*/
   /*Hero Section*/
   .main {
    
   }
   
   .main__container{
    display: grid;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
   
   }
   .main__content h1{
       font-size: 3rem;
       background-color: #000000;
       background-image: black;
       background-size: 100%;
       -webkit-background-clip: text;
       -moz-background-clip: text;
       -webkit-text-fill-color: transparent;
       -moz-text-fill-color:transperent;
       
       /* Position relative is stating the position where the object is and left is teling it to move right*/
   }
   .main__content{
    top: 140px;
   }
   
   .img-crochet{
       width: 900px;
       position: relative;
       left: 200px;
   }
   .main__content h2{
       font-size: 2.5rem;
       background-color: #000000;
       background-image: black;
       background-size: 100%;
       -webkit-background-clip: text;
       -moz-background-clip: text;
       -webkit-text-fill-color: transparent;
       -moz-text-fill-color:transperent;
       position: relative;
       right: 200px;
   }
   .main__content p{
       position: relative;
       left: 125px;}
  
   .main__content{
       margin-top: 1rem;
       font-size: 1.5rem;
       font-weight: 700;
      position: relative;
      left: 450px;
      
   }
   .html,body {
       margin:0;
       padding:0;
       overflow-x:hidden;
       background-image: url(../img/pp.jpg);
       background-size: cover;

   }
   .main__btn{
    position: relative;
    left: 130px;
    text-decoration: none;

    }
    .contact-title{
      color: var(--skin-color);
      text-align: center;
      font-size: 25px;
      margin-bottom: 20px;
    }
    .con__container{
        width: 90%;
        max-width: 500px;
        padding: 20px;
        margin: 0 auto;
        box-sizing: border-box;
        box-shadow: 0px 0px 20px #00000010;
        background-color: white;
        border-radius: 8px;
        margin-bottom: 20px;
       flex-direction: column;
    }
   .form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
   }
   .form-group input,
   .form-group textarea{
      width: 100%;
      padding: 5px;
      font-size: 18px;
      border: 1px solid rgba(red, green, blue, alpha);
      margin-top: 5px;

   }
   textarea{
    resize: vertical;
   }
   button[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s ease background-color;
    
   }
   button[type="submit"]:hover{
    background-color: #f77062;
   }
   #status{
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
    }
    #status.success{
        background-color: greenyellow;
        animation: status  4s ease forwards;
    }
    #status.error{
        background-color: red;
        color: white;
        animation: status  4s ease forwards;
    }
    @keyframes status{
        0%{
            opacity: 1;
            pointer-events: all;
        }
        90%{
            opacity: 1;
            pointer-events: all;
        }
        100%{
            opacity: 0;
            pointer-events: none;
        }
    }
 #mainbutton a{
    text-decoration: none;
    background-color: #60a286;
    color: white;
    padding: 10px 24px;
    border-radius: 12px;
 }
 #mainbutton:hover{
    background: #544cc9;
    transition:  all 0.3s ease;
 }
 .img-grad {
    clip-path: circle();
    width: auto;
    height: 590px;
    position: relative;
    left: 450px;
    top: 100px;

 }
 .about__content{
    flex: 0 0 60%;
    max-width: 60%;
    float: right;
    padding-top: 100px; 
   
 }
 .img{
 flex:  0 0 40%;
 max-width: 40%;
 float: left;
 padding-top: 100px;
 }
 .main__cont{
   margin-top: 1rem;
   font-size: 1.5rem;
   font-weight: 700;
}

.education {
 padding-top: 250px;
 padding-left: 100px;
 padding-bottom: 100px;
}
.date{
    padding-left: 20px;
}
.school {
    padding-top: 25px;
}
#abutton a{
    text-decoration: none;
    background-color: #60a286;
    color: white;
    left: 400px;
    padding: 10px 24px;
    border-radius: 12px;
 }
 .section-title {
    padding-top: 30px;
 }
 .row{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 100px;
    padding-bottom: 50px;
 }
 .contactinfo{
    padding-bottom: 50px;
 }
 .contact-title{
    padding-top: 100px;
    padding-bottom: 90px;
    font-size: 2.6rem;
    font-weight: 700;
 }
 .the-title {
   font-size: 1.6rem;
    font-weight: 700;
    padding-top: 100px;

 }
 .project-title{
    font-size: 1.3rem;
    font-weight: 700;
    padding-top: 100px;
    padding-left: 590px;
 }
 